In [ ]:
# Ques 1 - Create a pandas dataframe('df') with numpy random values (4 features and 4 obs)
import numpy as np
import pandas as pd

nun1=pd.Series(np.random.rand(4))
nun2=pd.Series(np.random.rand(4))
nun3=pd.Series(np.random.rand(4))
nun4=pd.Series(np.random.rand(4))
df=pd.DataFrame([nun1,nun2,nun3,nun4])
print(df)

          0         1         2         3
0  0.952527  0.955129  0.434926  0.037678
1  0.953475  0.645207  0.436206  0.737193
2  0.871131  0.213512  0.134864  0.324488
3  0.067451  0.156492  0.506926  0.911334

In [ ]:
# Ques 2 - Rename the task-1 'df' dataframe columns to Random value 1, Random value 2, Random value 3, Random value 4
df.columns=['Random value 1','Random value 2','Random value 3','Random value 4']
df

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.952527        0.955129        0.434926        0.037678
1        0.953475        0.645207        0.436206        0.737193
2        0.871131        0.213512        0.134864        0.324488
3        0.067451        0.156492        0.506926        0.911334

In [ ]:
# Ques 3 - Find the desciptive statistics of the 'df' dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Random value 1  4 non-null      float64
 1   Random value 2  4 non-null      float64
 2   Random value 3  4 non-null      float64
 3   Random value 4  4 non-null      float64
dtypes: float64(4)
memory usage: 256.0 bytes

In [ ]:
df.describe()

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.711146        0.492585        0.378231        0.502673
std          0.430862        0.377748        0.165696        0.395800
min          0.067451        0.156492        0.134864        0.037678
25%          0.670211        0.199257        0.359910        0.252786
50%          0.911829        0.429360        0.435566        0.530841
75%          0.952764        0.722688        0.453886        0.780728
max          0.953475        0.955129        0.506926        0.911334

In [ ]:
# Ques 4 - Check the null values in 'df' and find the datatype of the columns
print(df.isnull(),"\n")
print(df.dtypes)

   Random value 1  Random value 2  Random value 3  Random value 4
0           False           False           False           False
1           False           False           False           False
2           False           False           False           False
3           False           False           False           False

Random value 1    float64
Random value 2    float64
Random value 3    float64
Random value 4    float64
dtype: object

In [ ]:
# Ques 5 - Display the 'Random value 2' & 'Random value 3' columns with location method and index location method.
print(df.iloc[:,[1,2]])

   Random value 2  Random value 3
0        0.955129        0.434926
1        0.645207        0.436206
2        0.213512        0.134864
3        0.156492        0.506926

In [ ]:
print(df.loc[:,["Random value 2","Random value 3"]])

   Random value 2  Random value 3
0        0.955129        0.434926
1        0.645207        0.436206
2        0.213512        0.134864
3        0.156492        0.506926